name: Python application test with pytest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        python-deps:
          - django==4.2.*
          - django==5.2.*
          - django-object-actions==4.3.*
          - django-object-actions==5.*

    runs-on: ubuntu-latest

    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgrespass
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python

      - run: poetry run -- pip install --upgrade --upgrade-strategy eager -- ${{ matrix.python-deps }}

      - name: Run pytest
        run: poetry run pytest
        env:
          DATABASE_URL: postgresql://postgres:postgrespass@localhost:5432/django_goals

      - name: mypy
        run: poetry run mypy .
